<footer class="bg-dark text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a style="text-decoration: none" class="text-white" href="#">Aminul Islam Saqib</a>
  </div>
  <!-- Copyright -->
</footer>


</body>
</html>